<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/addData.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/35265ab825.js" crossorigin="anonymous"></script>
    <title>addData</title>
</head>

<body>

    <header>
        <a href="front"><img id="logo" src="img/Group_3.png" alt="logo"></a>
    </header>

    <body>

        <section class="content">

            <div class="aD_peruuta">
                <input href="profile" id="aD_peruuta" class="button" type="button" value="Peruuta">
            </div>

            <div class="lataus">
                <h1>Lataa video tiedosto</h1>
                <input id="aD_lataa" type="file" value="Lataa">
            </div>

            <div class="aD_tallenna">
                <input id="aD_tallenna" class="button" type="button" value="tallenna">
            </div>

        </section>

    </body>


    <footer>
        <a href="front" class="fas fa-home selected "></a>
        <a href="profile" class="fas fa-user-circle "></a>
    </footer>
    <script src="./js/check-login.js"></script>
    <script src="./js/serialize.js"></script>
    <script src="./js/addData.js"></script>
    <!-- <script src="./js/front.js"></script> -->
</body>

</html>