<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/35265ab825.js" crossorigin="anonymous"></script>
</head>

<header>
    <a href="front"><img id="logo" src="img/Group_3.png" alt="logo"></a>
    <a href="addPost" id="plus" class="fas fa-plus"></a>
      
</header>

<body>
        <div class="takaisin">
            <input id="edit_takaisin" class="first_button" type="submit" value="Takaisin"></input>
        </div>

    <section id="profile">
        <div>
            <h3>Käyttäjä</h3>
            <input id="edit_kayttaja" type="text">
        </div>
        <div>
            <h3>Sähköposti</h3>
            <input id="edit_sPosti" type="email">
        </div>
        <div>
            <h3>Bio</h3>
            <input id="edit_bio" type="text" style="height: 90%;">
        </div>
    </section>

    <div class="tallenna">
        <input id="edit_tallenna" class="first_button" type="submit" value="Tallenna"></input>
    </div>

<footer>
    <a href="front" class="fas fa-home "></a>
    <a href="profile" class="fas fa-user-circle"></a>
</footer>
</body>

</html>