<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/front.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/35265ab825.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <header>
        <a href="front"><img id="logo" src="img/Group_3.png" alt="logo"></a>
        <a href="addData" id="plus" class="fas fa-plus"></a>
          
    </header>
    
    <main>
        <div id="post-container">
            <ul id="list">

            </ul>
            <!-- <div id="post-profile">
                <img id="profilepic" src="" alt="">
                <p id="username"></p>
            </div>
            
            <video id="post-video" controls loop></video>
            <p id="post-bio"></p> -->
        </div>

    </main>

        

    <footer>
        <a href="front" class="fas fa-home selected "></a>
        <a href="profile" class="fas fa-user-circle "></a>
    </footer>
    <script src="./js/check-login.js"></script>
    <script src="./js/serialize.js"></script>
    <script src="./js/front.js"></script> 
</body>

</html>