<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/22c82907f2.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">

</head>
<body>
    <header>
        <a href="front"><img id="logo" src="img/Group_3.png" alt="logo"></a>
        <!-- <i class="fas fa-plus"></i> -->
        <a href="addPost" id="plus" class="fas fa-plus"></a>
    </header>
    <main>
        <section id="profile-info"> 
        <!--  <img id="profilepic" src="img/1.jpg" alt="">   
            <div id="info-wrap">
                <p id="profile-name">westernspy <a href="edit" class="fas fa-cog"></a></p>
                <p>IG,Snäppi jne... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos culpa eligendi doloremque corrupti ullam velit, illo omnis architecto! Quas soluta voluptatibus ad vel assumenda porro blanditiis tempora architecto inventore officia.</p>
            </div> -->
       </section> 
        <section id="followers">

            <p>Seuraajat <br> 2</p>
            <p>Seurataan <br> 20</p>

        </section>

    </main>
    <footer>
        <a href="front" class="fas fa-home "></a>
        <a href="profile" class="fas fa-user-circle selected"></a>
    </footer>
    <script src="./js/profile.js"></script>
    <script src="./js/check-login.js"></script>
    <script src="./js/serialize.js"></script>
</body>
</html>