#login-header{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: none;
    position: static;
    background-color: rgba(245, 245, 245, 0);
} 

#login-header img {
    width: 100%;
}

#login-main{
    padding: 2%;
}

main{
    padding: 2%;
    padding-bottom: 20%;
    padding-top: 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form input{
    width: 90%;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.1);
    border: #150444 solid 2px;
    border-radius: 15px;
    color: #fff;
    font-size: 1em;
    font-family: 'Quicksand';
    text-align: center;
    box-shadow: 10px 5px 17px #020202;
}

form input[type=submit]{
    width: 60%;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 3%;
    font-size: 1em;
    border: #4E00CE solid 1px;
    border-radius: 12px;
    color: #fff;
    background-color: #0D021E7D;
    font-family: 'Quicksand';
}

#login-footer{
    color: #fff;
    border-top: 2px solid #3a3a3a;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 5%;
    display: block;
}


#register{
    color: #6100FF;
    font-size: 1em;
}
