* {
    box-sizing: border-box;
}
html,
body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(33,4,80,1) 100%);
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Quicksand';
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #3a3a3a solid 2px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #000;
    width: 100%;
}

header a {
    color: #fff;
    text-decoration:none;
}

#logo {
    width: 55%;
}
#plus{
    width: 30%;
}

.fas{
    font-size: 1.7em;
    
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #000;
    border-top: solid 2px #3a3a3a;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/* footer{
    color: #fff;
    border-top: 2px solid #3a3a3a;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 2%;
    background-color: #000;
    display: flex;
} */



/* header img{
    width: 55%;
} */


#container{
    background: rgb(33,4,80);
    background: radial-gradient(rgba(33,4,80,1) 0%, rgba(0,0,0,1) 80%);
    height: 100%;
}

/* .fas {
    color: #4E00CE; 
    color: #fff;
    padding: 3%;
    font-size: 1.7em;
    padding-right: 8%;
} */

.selected {
    color: #4E00CE;
}

a {
    text-decoration: none;
    color: #fff;
}

/* footer a {
    width: 50%;
    font-size: 2.5em;
} */





