/* PROFILE */

#profile-info{
    display: flex;
    padding-top: 5%;
    width: 100%; 
}

#profilepic {
    width: 110px;
    border-radius: 50%;
    margin-right: 5%;
    height: 110px;
 
    
}

#info-wrap{
    
    float: right;
}

#profile-name{
    font-size: 2em;
    margin-bottom: 20px;
    padding-top: 4%;
}

#followers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: center;
}

/* /PROFILE */
